*{
    margin:0px;
    padding:0px;
}

body{
    background-image:url(images/Mtn.png);
    background-repeat: no-repeat;
    background-size: 100%;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

#nav-bar{

    /*border: 1px black solid;*/
	width:80%;
	margin: 2px;
	}
    #nav-bar ul{
        padding:0;
        list-style:none;
    }
    
    #nav-bar li{
        padding:5px;
        margin:0px 5px 3px 5px;
        display:inline;
        font-family:tahoma;
        position: relative;
        left: 80%; 
    }
    #header1 h1{
        margin:0px;
        position:absolute;
        top:40px;
        left:40px;
        font-family: tahoma;
        font-size:30px;
        display:block;
    
    }
    #header1 h3{
        margin:5px;
        position:absolute;
        top:70px;
        left:40px;
        font-family: tahoma;
        font-size:1em;
    }
    #input{
        width:50%;
        margin-top:15%;
        margin-left:40%;
        font-size:1em;
    }
    #input h5{
        font-family: tahoma;
        font-size:2em;
    }
    #input input{
        display:block;
    }
    .flt1 {
        margin-top:30px;
        width: 45%;
        display: inline-block;
        
    }
    .flt2 {
        margin-top:50px;
        width: 45%;
        display: inline-block;
        
    }
    /*.flt{
        float:right;
        width:33.3%;
        border:1px black solid;
        padding: 10px;
        box-sizing:border-box;
        font-size:2em;

    }
